body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141415;
    color: #4ea9f4;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin-top: 20px;
    background-color: #141415;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
